.item-container {
  background-color: rgba(255, 255, 255, 0.08);
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.item-title {
  margin-bottom: 1rem;
}

.rating-container {
  width: 100%;
  height: 64px;
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
}

.rating-line {
  height: 8px;
  border-radius: 4px;
}